.submit-dir-cli {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;

}

.CLI-Directory {
  padding: 5px;
  width: 250px;
}

.Select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.Container {
  margin-left: auto;
  margin-right: auto;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

#root {
  height: 1;
  background-color: rgb(255, 254, 236);
  display: flex;
  flex-direction: row;
}

.dropbtn {
  background-color: #2980B9;
  color: white;
  padding: 8px;
  margin-left: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(255, 254, 236);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.flex-container {
  display: flex;
  flex-direction: column;
  width: 70vh;
  margin-left: 20px;
}

#myDropdown {
  margin-left: 20px;
  height: 37px;
}