.submit-dir-cli {
    margin-top:10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  .CLI-Directory {
    padding: 5px;
    width: 250px;
  }

  .Select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
  }


html {
    height: 100%;
}

body {
    min-height: 100%;
}

#root {
    height: 1;
    background-color: #f6f6ef;
    display: flex;
    flex-direction: row;
}

